<div class='ajout-refresh'>
  <img [routerLink]="['/add-formateur']" id='t3' SRC="assets/image005.png" width="80px" height="80px"> <img id='t4' SRC="assets/image008.png" width="80px" height="80px" >
  </div>
  
  
  <div class='List-Formateur'>
    <table>
  <tbody>
    <tr>
      <th>    List Formateurs   </th>
    </tr>
    <tr>
      
      <td style="height: 50px;">
       <span id='Name'>Mohamed sahli</span>  <img id='t1' src="assets/image006.png" width="55px" height="30px"><img id='t2' src="assets/image007.png" width="60px" height="30px">
        
      </td>
    </tr>
  </tbody>
  </table>
  </div>
    
    
