<div class='ajout-refresh'>
  <img [routerLink]="['/add-formateur']" id='t3' SRC="assets/image005.png" width="80px" height="80px"> <img id='t4' SRC="assets/image008.png" width="80px" height="80px" >
  </div>
  
  
  <div class='List-Formateur'>
    <table >
  <tbody>
    <tr>
      <th>    List Formateurs   </th>
    </tr>
    <div *ngFor="let formateur of formateurList;index as i">
    <tr id='part'>
      
      <td [ngClass]="{'first':i%2==0,'second':i%2==1}" >
       <span id='Name'>{{i}}-{{formateur.name}}&nbsp; {{formateur.prenom}}&nbsp; de &nbsp;{{formateur.adresse}}&nbsp;/&nbsp;Email : {{formateur.email}}&nbsp;/&nbsp;Domaine &nbsp; dexpertise: &nbsp; {{formateur.domaine}}</span>  <img id='t1' src="assets/image006.png" width="55px" height="30px"> <img (click)='delete(formateur)' id='t2' src="assets/image007.png" width="60px" height="35px">
      </td>
      
      
    </tr>
  </div>
  </tbody>
  </table>
  </div>
    
    
    
