
th{
    width: 1000px;
    background-color:rgb(119, 119, 250);
    color:WHITE;
    text-align :center;
    cursor: pointer;
    
}
.first{
    width: 950px;
    text-align :center;
    background-color:rgb(175, 199, 245);
    height: 10px;
}
.second{
    width: 950px;
    text-align :center;
    background-color:rgb(61, 114, 212);
    height: 10px;

}
.List-Formateur{
    width: 950px;
    position: absolute;
        top:200px;
        left: 350px;


    
}
#t1{
    position: absolute;
    cursor: pointer;
    
    left: 820px;

}
#t2{
    position: absolute;
    cursor: pointer;
    left: 880px;

}
#formateur{
    position: absolute;
    
    left: 120px;

}
#t3{
    position: absolute;
    top:100px;
    left: 500px;
    cursor: pointer;

}
#t4{
    position: absolute;
    top:100px;
    left: 600px;
    cursor: pointer;
}
#Name{
    position: absolute;
    left: 20px;
   

}
#part{
  
    border-collapse : separate;
    border-spacing : 150px;
    height: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
    border-spacing: 5px;
}
span{
    font-size: 14px;

}
