
 
<div class="contenaire-nav-bar-top" >
  <span id='date1'>{{mydate | date:'short' }} &nbsp; à  &nbsp; Tunis </span>    <img id='quitter' SRC="assets/image011.png" width="50px" height="50px">
</div >


<div class='container-left-navbar'  >
<ul style="list-style: none;">
  <li >
    <br>
    <br>
      <img class="img" SRC="assets/image003.jpg" width="90px" height="90px">    <span id='Admin'>espace admin</span>  
     <br>
    <br>
 <li>
  <li>
  <br>
  <br>
    <img src="assets/image002.png" class="icon" width="50px" height="50px">
    <input placeholder="Chercher Session">
  <br>
  <br>
  </li>
  <li id='cur' [routerLink]="['/']">
    <img SRC="assets/image001.png" width="35px" height="35px">  <span id='option'>DashBoard</span>  
    <br>
    <br>
  </li>
  
  <li id='cur' [routerLink]="['/session']">
    <img SRC="assets/image010.png" width="35px" height="35px"> <span id='option'>Sessions</span>    
    <br>
    <br>
  </li>
  
    <li id='cur' [routerLink]="['/foramteur']">
    <img SRC="assets/image009.png" width="35px" height="35px"> <span id='option'>Formateurs</span>   
    <br>
    <br>
  </li>
  
    <li id='cur' [routerLink]="['/participant']">
    <img SRC="assets/image004.png" width="35px" height="35px"> <span id='option'>Participans</span>   
    <br>
    <br>
  </li>
  <li>
    <br><br><br><br><br><br><br>
  </li>
  
</ul>

</div>
<div class='root'>
<router-outlet class='routage'></router-outlet>

</div>

