
<div class='contenaire-acceuil'>
    <div id="Sessions">
      <img SRC="assets/image010.png" width="150px" height="150px"> Sessions : {{NumSess}}
    </div>
  <div id="Participant">
    <img SRC="assets/image004.png" width="150px" height="150px">  Participants : {{NumPart}}
  </div>
  <div id="Formateurs">
    <img SRC="assets/image009.png" width="150px" height="150px"> Formateurs :  {{NumFormateur}}
  </div>
  </div>
  
  <div class='table-sessions'>
  <table>
    <tbody>
      <tr>
        <th>   Track    </th>
        <th>   Nombre de session     </th>
      </tr>
      <tr>
        <td>Angular</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
  </div>
  
  
  <div class='table-top-formateurs'>
    <table>
  <tbody>
    <tr>
      <th>    Top Formateur    </th>
    </tr>
    <tr>
      <td>Mohamed</td>
    </tr>
  </tbody>
  </table>
  </div>
 
